body {
    background-image: url("./Photos/Stage.jpg");
    height: 51em;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

}

#Container {
    animation: fade;
    animation-duration: 3.5s;
    margin-top: 150px;
    color: white;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 25px;
    padding: 25px;
}

#Nav {
    display: flex;
    align-items: center;
    justify-content: end;

}

#Nav a {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 50px;
    margin-right: 90px;
}

#Nav > a:hover {
    border-bottom: 2px solid white;
}

#Logo {
    margin-right: 580px;
}

.header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: rgba(84, 81, 81, 0.9);
    border-radius: 25px;
}

.Grid-container {
    display: grid;
    grid-template-columns: auto auto;

}

.Grid-item {
    margin: 100px 25px 0 5px;
    padding: 25px;
    background-color: rgba(84, 81, 81, 0.7);
    border-radius: 25px;
}

.ParagraphAbout {
    display: flex;
    justify-content: center;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer {
    margin-top: 263px;
    background-color: black;

}

.footerParagraph {
    margin: 0 25px 25px 25px;
    font-size: 20px;
}

.Grid-container2 {

    color: white;
    display: grid;
    grid-template-columns: auto auto ;
    background-color: black;
    justify-items: center;
}


.footerPhoto {
    margin: 25px;
}
/* Tablet*/
@media (max-width: 600px) {
    body {
        max-height: 800px;
        max-width: 600px;
        margin: 0;
    }

    #BodyContainer {
        width: 600px;
    }

    #Nav {
        justify-content: unset;
        width: 100%;
        font-size: 8px;
    }

    #Logo a img {
        width: 150px;
    }

    #Logo {
        margin: 10px;
    }

    #Nav a {
        margin: 20px;
    }
    #Container{
        margin: 10px;
    }
    .header h1{
       font-size: 23px;
    }


    .footer {
        margin: 180px 0 0 0;
    }

    .Grid-container {
        grid-template-columns: auto auto;
    }
    .Grid-item{
        margin: 15px;
    }
    .Grid-container2 {

        display: grid;
        color: white;
        grid-template-columns: auto auto;
    }

    .Grid-item2 {
        font-size: 10px;
        margin: 15px;
    }
    .Grid-item2>p{
        font-size: 15px;
    }
    .footer .footerPhoto {
        max-width: 120px;
    }
}
/*IPhone 12 pro*/
@media (max-width: 390px) {
    body {

        max-width: 390px;
        margin: 0;
    }

    #Container {
        margin: 0;
    }

    #Nav {
        justify-content: space-evenly;
        width: 100%;
        font-size: 8px;
    }

    #Logo a img {
        display: none;
    }

    #Logo > a {
        display: none;
    }

    .header {
        font-size: 9.5px;
    }
    #Container{
        margin: 5px;
    }

    .Grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .Grid-item {
        margin: 20px;
    }
    


    .footer {
        margin: 70px 0 0 0;
    }

    .Grid-container2 {
        
        display: grid;
        color: white;
        grid-template-columns: auto auto;
    }

    .Grid-item2 {
        font-size: 10px;
        margin: 15px;
    }
    .Grid-item2>p{
        font-size: 12px;
    }
    .footer .footerPhoto {
        max-width: 120px;
    }


}